* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Young Serif', serif;
}

body {
   display: flex; 
   flex-direction: column;
   height: 100vh;
   background-color: #a9aaac;
   color: #fff;
   background: url(../Fondopagina.jpg);
   background-size: cover;
   background-attachment: fixed;
   z-index: -1;
}
.main{
   display: flex;
   flex-direction: column;

}
.article2{
   display: flex;
      background-size: cover;
      background-attachment: relative;
      position: relative;
      z-index: 10;

   }


   

   


nav {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #24252a;
   padding-left: 2vw;
   position: fixed;
   z-index: 50;
}

.cont-ul {
   display: flex;
   align-items: center;
}

li {
   list-style: none;
   cursor: pointer;
   padding: 1.5vw;
   transition:  all .3s ease 0s;
}

li:hover {
   background-color: #008849;
}

.develop {
   position: relative;
}

.ul-second {
   display: none;
   position: absolute;
   margin-top: 1.5vw;
}

.ul-second > li {
   width: 190px;
   transform: translateX(-20px);
   border-bottom:solid 1px #fff ;
   text-align: center;
   background-color: #24252a;
}

.ul-second > li:hover {
   background-color: #008849;
}

.develop:hover > .ul-second {
   display: block;
}

.ul-third {
   position: absolute;
   transform: translateX(100%);
   right: 0;
   top: 40%;
   display: none;
   background-color: #24252a;
}

.ul-third > li {
   padding: 1.5vw;
   border-bottom: solid 1px #fff;
}

.front:hover > .ul-third {
   display: block;
}

@media (max-width:900px) {
   .logo-danicodex {
       display: none;
   }
}

.hidden1{
   display: none;
   text-align: center;
   background-color: #fff; /* Fondo blanco para el texto */
   padding: 20px; /* Espaciado interno para mayor legibilidad */
   color: #000; /* Texto negro */
   border: 1px solid #000; /* Borde alrededor del texto */
   margin-top: 10px; /* Espacio superior para separarlo del contenido */
}
.hidden2{
   display: none;
   text-align: center;
   background-color: #fff; /* Fondo blanco para el texto */
   padding: 20px; /* Espaciado interno para mayor legibilidad */
   color: #000; /* Texto negro */
   border: 1px solid #000; /* Borde alrededor del texto */
   margin-top: 10px; /* Espacio superior para separarlo del contenido */
}
.hidden3{
   display: none;
   text-align: center;
   background-color: #fff; /* Fondo blanco para el texto */
   padding: 20px; /* Espaciado interno para mayor legibilidad */
   color: #000; /* Texto negro */
   border: 1px solid #000; /* Borde alrededor del texto */
   margin-top: 10px; /* Espacio superior para separarlo del contenido */
}
